/* VARIABLES */
$backgroundTitle: #6B9282;
$backgroundLight: #f4f4f4;
$backgroundBody: #ededed;

/*color palette https://colorhunt.co/palette/111d5ec70039f37121c0e218*/
$navy: #111D5E;
$maroon: #C70039;
$orange: #F37121;
$green: #C0E218;


$grey: 898b8a;
/* END VARIABLES */