@import "normalize.css";
@import "base/_mixins.css";
@import "base/_variables.css";
@import "base/_global.css";
@import "modules/_title.css";
@import "modules/_wrapper.css";
@import "modules/_carousel.css";
@import "modules/_features.css";
@import "modules/_navbar.css";
@import "modules/_about.css";
@import "modules/_pricing.css";
@import "modules/_header.css";



p {
  color: #8f8f8f;
}

/ #press {
  background-color: #6B9282;
  padding-bottom: 3%;
  text-align: center;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px
}