/* CAROUSEL */


.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 10rem;
    height: 10rem;
}

.carousel-indicators [data-bs-target] {
    /* display: block; */
    width: 4rem;
    height: 0.6rem;
}

.carousel-item img {
    /*width: 50%;*/
    /*border: 1px solid $mainBackground;*/
}

/*test {*/
/*    position: relative;*/
/*}*/

#carouselIndicators {
    @mixin atLarge {
        padding-top: 2rem;
    }

    /*position: absolute;*/
    /*top: 50%;*/
    /*transform: translateY(-50%)*/
}

/* @mixin atSmall {
  .wrap_img {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
} */
/* @mixin atMedium {
  .wrap_img {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
} */
#images {

    width: 100%;
    margin-left: auto;
    margin-right: auto;


    @mixin atMedium {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }


    @mixin atLarge {
        /*transform: translateY(22%);*/
        width: 55%;
        /*padding: 5rem 0 2rem 0;*/


    }
}


/*@mixin atSmall {*/
/*    #images {*/
/*        width: 90%;*/
/*        margin-left: auto;*/
/*        margin-right: auto;*/
/*    }*/
/*}*/


/*@mixin atMedium {*/
/*    #images {*/
/*        width: 60%;*/
/*        margin-left: auto;*/
/*        margin-right: auto;*/
/*    }*/
/*}*/

/*    .carousel-indicators button {*/
/*        !* display: block; *!*/
/*        width: 80px;*/
/*    }*/
/*}*/

/*@mixin atLargest {*/
/*    .wrap_img {*/
/*        margin-left: auto;*/
/*        margin-right: auto;*/
/*        !* padding: 0.7rem; *!*/
/*        !* max-width: 1280px; *!*/
/*        width: 50%;*/
/*    }*/
/*}*/

/* END CAROUSEL */
