/* CAROUSEL */

.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 10rem;
  height: 10rem;
}

.carousel-indicators [data-bs-target] {
  /* display: block; */
  width: 6rem;
  height: 0.8rem;
}
carousel-item {
  height: 50%;
}


/* @mixin atSmall {
  .wrap_img {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
} */
/* @mixin atMedium {
  .wrap_img {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
} */
@mixin atLarge {
  .wrap_img {
    margin-left: auto;
    margin-right: auto;
    /* padding: 0.7rem; */
    /* max-width: 1280px; */
    width: 60%;
  }

  .carousel-indicators button {
    /* display: block; */
    width: 80px;
  }
}

@mixin atLargest {
  .wrap_img {
    margin-left: auto;
    margin-right: auto;
    /* padding: 0.7rem; */
    /* max-width: 1280px; */
    width: 50%;
  }
}

/* END CAROUSEL */
