/* FEATURES */
#features {
  /*padding: 7% 15%;*/
  /*background-color: $sunset;*/
  /*background-color: #152D35;*/
  background-color: $mainBackground;
  font-size: 3rem;
  padding: 5rem 0 10rem 0;
  color: $mainText;;
}

.feature-item {
  text-align: center;
  padding: 10%;
   & h2 {
  font-size: 5rem;
  margin: 5rem;
     }
  & p {
  font-size: 4rem;
    }
}

.feature-icons {
  /* color: #ef8172; */
  color: #6B9282;
  margin-bottom: 1rem;
}

.feature-icons:hover {
  color: #7FBF3F;
}


/* FEATURES END */