/* FEATURES */
.features {
    @mixin atLarge {
        padding-top: 2rem;
    }
}

#features {
    padding: 5rem 0 2rem 0;
}

.feature-item {
    text-align: center;
    padding-bottom: 2rem;

    @mixin atLarge {
        padding: 1rem;
    }


        &  p {
            font-size: 1.5rem;
            @mixin atLarge {
                font-size: 1.7rem;
            }
        }

}

.feature-icons {
    /* color: #ef8172; */
    color: #6B9282;
    margin-bottom: 1rem;
}

.feature-icons:hover {
    color: #7FBF3F;
}


/* FEATURES END */