/*FOOTER*/

footer {

    & h3 {
          font-size: 2rem;
          font-weight: bold;
      }

      p {
          padding: 2rem 0 2rem 0;
      }

      & .row {
            font-size: 2rem;
        }
      .copyright {
          text-align: right;
      }

      & .home {
          display: none;
      }
}

/*FOOTER END*/