/* HEADER */

.header {
    width: 100%;
    text-align: center;
    padding: 2% 3%;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    @mixin atMedium {
        font-size: 1.5rem;
    }
    @mixin atLarge {
        font-size: 2rem;
    }
    font-family: "Montserrat-Light";
    color: $light_orange !important;
}

.navbar-toggler {
    font-size: 1.5rem;
}


/*.nav-item {*/
/*  padding: 0 15px;*/
/*}*/



#logo {
    border-radius: 90px;
    transform: translateX(20%);
    /*transform: translateY(40%);*/

    /*overflow: hidden;*/
    width: 180px;
    height: 180px;
    /*margin: 0 auto -80px auto;*/
    /*position: relative;*/
    /*top: -80px;*/
    border: 3px solid rgba(255, 255, 255, .8);
}


/* HEADER END */