/*IMPRESSUM*/
#impressum {

  & h1 {
       font-size: 2rem;
   }
 &  p {
       margin: 1rem 0;
   }
}
.webdev {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.footer_impressum {
    padding:0;
}
/*IMPRESSUM END*/