/*IMPRESSUM*/
#impressum {
display: none;
  & h1 {
       font-size: 4rem;
   }
 &  p {
       margin: 3rem 0;
   }
} 

/* .impressum-link{
    text-decoration: underline;
} */

/* .home{
    display: none;
} */
/*IMPRESSUM END*/