.title {
  /* &__image {
    display:block;
  } */
  /* &__header {
    padding-top: 88px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); /*align vertically*/
  left: 0;
  width: 100%;
  text-align: center;
  /* @mixin atMedium {
      padding-top: 60px;
    }
}*/
}