/* WRAPPER */



.wrapper {
    padding-left: 18px;
    padding-right: 18px;
    max-width: 1236px;
    margin-right: auto;
    margin-left: auto;


}

@mixin atLarge {
    .wrapper--large_screen {
        margin-right: auto;
        margin-left: auto;
        width: 50%;

    }
}

/* END WRAPPER */
